<?php include_once '../includes/control_header.php'; ?>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a>
    </li>
    <li><a href="#profile" role="tab" data-toggle="tab">Profile</a>
    </li>
    <li><a href="#messages" role="tab" data-toggle="tab">Messages</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home">
        <br/>
        <div class="form-group">
            <input id="sbmt" type="submit" name="submit" class="btn btn-success" id="submit" value="Proceed" style="margin-left: 62px; margin-top: -15px; width: 10%; background-color: #20ca53; border: #20ca53;" />
        </div>
    </div>
    <div class="tab-pane" id="profile">
        <br/>Profile Content
    </div>
    <div class="tab-pane" id="messages">
        <br/>Messages Content
    </div>
</div>
<?php  include '../includes/control_footer.php' ?>